* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Colors */
:root {
  --main-blue: #444daa;
  --main-bg: #ffffff;
  --banner-bg: #eeeaff2f;
  --h1-h3-txt-color: #242448;
  --heading-color: #212349;
}

body {
  background-color: rgba(235, 235, 235, 0);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--heading-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
  height: 100%;
  border-radius: 10px;
}

.center {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(117, 117, 117, 0.096);
  height: 70px;
  padding: 0 60px;
  top: 0;
  position: sticky;
  z-index: 5;
  background-color: #fff;
}

header .header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

header a {
  color: var(--h1-h3-txt-color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #121c91;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

nav a:hover {
  color: #444daa;
}

.logo #menu_bar {
  display: none;
}

/* Banner */
.banner {
  width: 100%;
  height: 550px;
  padding: 0 30px;
}

.banner .banner__content {
  /* background-color: var(--banner-bg); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  height: 100%;
  margin-top: 20px;
  border-radius: 8px;
}

.banner__content .banner-txt {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}

.banner-txt .hd {
  margin: 25px 0;
}

.banner-txt .hd h3 {
  padding: 3px 0;
  font-size: 42px;
  font-weight: 800;
  margin: 0;
}

.cta {
  width: 100%;
  margin-top: 25px;
}

.cta .cta-btn {
  padding: 13px 25px;
  font-size: 16px;
  background-color: var(--main-blue);
  border: 0;
  outline: 0;
  color: white;
  border-radius: 4px;
}

.cta .cta-btn:hover {
  background-color: #121c91;
  transition: 0.25s linear;
  color: white;
}

.cta .cta-btn a {
  color: white;
  text-transform: uppercase;
}

.cta .cta-btn:hover {
  cursor: pointer;
}

.banner__img {
  width: 50%;
  height: 100%;
}

.banner__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/*************** learn-with-us ******************/
.learn-with-us {
  width: 100%;
  padding: 0 50px;
  margin-top: 85px;
  margin-bottom: 50px;
}

.learn-with-us .learn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.learn-hd h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--heading-color);
}

.learn-container .learn-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin: 30px;
  padding: 20px 0;
}

.learn-cards .learn-card {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 15px;
  border-radius: 5px;
  transition: transform 0.25s linear;
  height: 350px;
}

.learn-cards .learn-card:hover {
  background-color: #fff;
  transform: scale(1.01);
  box-shadow: 0 2px 12px #eee;
}

.learn-card .card_img {
  width: 100%;
  height: 190px;
  margin-bottom: 10px;
  max-height: 280px;
}

.learn-card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.learn-card h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 13px;
}

.learn-card p {
  text-align: center;
  max-width: 300px;
  font-size: 16px;
  line-height: 25px;
}

/**************** Popular Courses *******************/
.popular__class {
  width: 100%;
  padding: 0 50px;
  margin: 40px 0;
}

.course-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 30px;
}

.course-container .course-hd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
  width: 100%;
}

.course-hd h3 {
  font-size: 30px;
  color: var(--heading-color);
  margin-bottom: 15px;
}

.course-hd p {
  font-size: 16px;
  max-width: 700px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 27px;
}

.course-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
}

.course-cards .course-card {
  background-color: rgba(247, 241, 241, 0.014);
  width: 290px;
  border-radius: 7px;
  overflow: hidden;
  transition: transform 0.25s linear;
  padding-bottom: 20px;
  box-shadow: 0px 2px 25px 5px rgba(141, 141, 141, 0.096);
}

.course-cards .course-card:hover {
  transform: scale(1.02);
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 2px 25px 5px rgba(141, 141, 141, 0.253);
}

.course-card .course_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  /* border: 2px solid red; */
}

.course_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
}

.course-card .card-info {
  width: 100%;
  padding: 20px 15px;
  margin-top: 10px;
}

.card-info h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--heading-color);
}

.card-info p {
  font-size: 15px;
  line-height: 23px;
  /* margin-bottom: 10px; */
  margin-bottom: 25px;
}

.card-info a {
  color: #121c91;
  font-size: 16px;
}

/* Testimonials */
.testimonials {
  width: 100%;
  margin: 90px 0;
  padding: 0 100px;
}

.testimonial-container {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.testimonial-container .testimony-hd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimony-hd h3 {
  font-size: 30px;
  color: var(--heading-color);
  margin-bottom: 10px;
}

.testimony-hd p {
  max-width: 500px;
  text-align: center;
  line-height: 24px;
  color: var(--h1-h3-txt-color);
  font-size: 16px;
}

.testimony {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  margin-top: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.testimony .testimony-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  max-width: 380px;
}

.testimony #plan {
  height: 370px;
  width: 85%;
}

.testimony-img img {
  width: 100%;
  height: 100%;
}

.testimony .testimony-txt {
  width: 100%;
  max-width: 600px;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.testimony-txt .testimony-hd {
  margin-bottom: 15px;
  max-width: 400px;
  line-height: 36px;
}

.testimony-txt .testimony-hd h3 {
  font-size: 28px;
}

.testimony-txt blockquote {
  margin-bottom: 20px;
  max-width: 500px;
  line-height: 27px;
  text-transform: capitalize;
  font-weight: 530;
}

.testimony-txt blockquote #tech-speech {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.testimony-txt .testimony-user-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  height: 45px;
}

.testimony-user-info a {
  padding: 13px 35px;
  border: 0;
  outline: 0;
  background-color: var(--main-blue);
  color: white;
  font-size: 17px;
  border-radius: 4px;
}

.testimony-user-info a:hover {
  background-color: #2a3397;
  transition: all 0.15s linear;
}

.testimony-user-info .border-left {
  height: 100%;
  width: 3px;
  background-color: var(--h1-h3-txt-color);
}

.user-info h4 {
  color: var(--h1-h3-txt-color);
  font-size: 17px;
  margin-bottom: 2px;
}

.user-info small {
  font-size: 13px;
  font-weight: 450;
  color: var(--h1-h3-txt-color);
}

/******************* FAQ **********************/
.faq {
  width: 100%;
  padding: 0 130px;
  /* margin: 180px 0; */

  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.faq .faq-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 80px;
}

.faq .faq-container .faq-hd {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-hd h3 {
  font-size: 30px;
  color: var(--heading-color);
}

.faq-container .faq-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  justify-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.faq-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 18px 15px;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  transition: transform 0.15s linear;
}

.faq-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 3px 15px rgba(221, 221, 221, 0.418);
  background-color: #fff;
  cursor: default;
}

.faq-card .faq-card-hd {
  padding: 5px 0;
  margin-bottom: 5px;
}

.faq-card-hd h4 {
  font-size: 20px;
  color: var(--heading-color);
}

.faq-card .faq-card-txt p {
  color: var(--h1-h3-txt-color);
  font-size: 16px;
  line-height: 27px;
}

/* Footer */
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--heading-color);
  color: #ddd;
  /* margin-top: 100px; */
  height: 300px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  height: 100%;
  padding: 30px 60px;
}

footer ul li {
  font-size: 14px;
}

.left__footer {
  width: 100%;
  padding: 10px 5px;
  height: 100%;
}

.left__footer_hd {
  margin-bottom: 15px;
}

.left__footer_hd h3 {
  font-size: 20px;
}

.left__footer .left__footer_txt {
  max-width: 300px;
  margin-bottom: 15px;
}

.left__footer_txt p {
  font-size: 15px;
}

.right__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  gap: 30px;
  height: 100%;
  padding: 10px 0;
  width: 100%;
}

.right__footer ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}

.right__footer .footer__contact {
  height: 100%;
}

.footer__contact .footer__heading {
  margin-bottom: 15px;
}

.footer__contact a {
  color: #ddd;
  cursor: pointer;
}

.footer__contact a:hover {
  color: #fff;
  transition: all 0.15s ease-in-out;
}

.left__footer_form {
  width: 100%;
  display: flex;
  align-items: center;
}

.left__footer_form input {
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  outline: 0;
  padding: 8px 4px;
  margin-right: 10px;
  font-size: 15px;
}

.left__footer_form input::placeholder {
  color: #ddd;
  font-size: 15px;
}

.left__footer_form form button {
  padding: 5px 8px;
  background-color: transparent;
  color: white;
  border: 0;
  font-size: 15px;
  cursor: pointer;
}

/* Online / Offline Status Styling */
.status {
  padding: 20px 0;
  background-color: var(--heading-color);
  position: fixed;
  bottom: 20px;
  display: inline-block;
  left: 20px;
  padding: 13px;
  border-radius: 5px;
  width: 170px;
  color: white;
  transform: translateX(-200px);
  transition: transform 0.25ms linear;
}

.status.online {
  background-color: greenyellow;
  color: green;
  transform: translateX(10px);
}

.status.offline {
  background-color: rgba(255, 0, 0, 0.767);
  color: white;
  transform: translateX(10px);
}

/* .status .online {
  background-color: greenyellow;
  color: green;
  position: absolute;
  width: 150px;
  right: 20px;
  padding: 10px;
  bottom: 50px;
  border-radius: 5px;
  z-index: 5;
} */

/* .status .offline {
  background-color: red;
  color: white;
  position: absolute;
  width: 150px;
  right: 20px;
  padding: 10px;
  bottom: 50px;
  border-radius: 5px;
} */
