* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Poppins', sans-serif;
}

/* Custom Colors */
:root {
  --main-blue: #444daa;
  --main-bg: #ffffff;
  --banner-bg: #eeeaff2f;
  --h1-h3-txt-color: #242448;

  --heading-color: #212349;
}

/* form */
.form-container {
  width: 100%;
  height: calc(100vh - 70px);
  /* background-color: dodgerblue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  /* border: 2px solid white; */
  padding: 40px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(201, 201, 201, 0.418);
  /* margin-top: 50px; */
}

form .form-hd {
  margin: 10px 0;
  width: 100%;
}

.inputs p {
  display: none;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 15px;
}

/* .inputs .info_succeed {
  color: rgb(11, 173, 11);
  border: 0;
  outline: 0;
  background-color: rgba(206, 248, 206, 0.651);
  width: 100%;
} */

.inputs .info_warn {
  color: #eed202;
  background-color: #ffe2053f;
}

.inputs .info_failed {
  color: rgba(255, 0, 0, 0.877);
  background-color: rgba(238, 83, 83, 0.267);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form-hd h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(197, 197, 197);
  margin-bottom: 5px;
}

.form-hd h3 {
  font-size: 24px;
  color: var(--h1-h3-txt-color);
  margin-bottom: 15px;
}

.form-hd p {
  font-size: 15px;
  font-weight: 500;
  color: rgb(197, 197, 197);
}

.form-hd p span {
  margin-left: 5px;
}

.form-hd p span a {
  color: var(--h1-h3-txt-color);
}

.form-hd p span a:hover {
  text-decoration: underline;
}

.sign-up-inputs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

.sign-up-inputs .inputs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.inputs label {
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--h1-h3-txt-color);
}

.inputs input {
  width: 90%;
  padding: 10px 12px;
  border: 0;
  outline: 0;
  font-size: 16px;
}

.input-box {
  width: 100%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  overflow: hidden;
}

.input-box span button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.input-box span button .icon {
  color: var(--heading-color);
}

.input-box span button .icon:hover {
  cursor: pointer;
}

.form-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.form-btns button {
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 4px;
  color: white;
}

.form-btns button:hover {
  cursor: pointer;
}

.form-btns .create-acc,
.form-btns .google-btn {
  padding: 12px 20px;
  font-size: 16px;
  background-color: var(--main-blue);
}

.form-btns .create-acc:hover {
  background-color: #2e38a3;
  transition: all 0.15s linear;
}

.form-btns .google-btn {
  background-color: white;
  border: 1px solid var(--heading-color);
  color: var(--h1-h3-txt-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-btns .google-btn:hover {
  background-color: var(--h1-h3-txt-color);
  color: white;
  transition: all 0.15s linear;
}
