* {
  list-style-type: none;
}

/* Custom Colors */
:root {
  --main-blue: #444daa;
  --main-bg: #ffffff;
  --banner-bg: #eeeaff2f;
  --h1-h3-txt-color: #242448;

  --heading-color: #212349;
}

.course__banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.199)),
    var(--main-blue);
  /* margin-bottom: 100px; */
}

.course__banner .course__banner_hd {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: -70px; */
}

.course__banner_hd h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 25px;
  max-width: 600px;
  text-align: center;
  line-height: 58px;
}

.course__banner_hd p {
  color: rgba(255, 255, 255, 0.87);
  font-size: 18px;
  margin-bottom: 55px;
  max-width: 550px;
  text-align: center;
}

.course__banner_hd .choose_course_btn {
  padding: 13px 30px;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  font-size: 18px;
}

.choose_course_btn:hover {
  cursor: pointer;
  background-color: black;
  transition: all 0.2s linear;
}

/* Course Info */
.course_info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 60px;
  width: 100%;
  gap: 60px;
  margin-bottom: 80px;
}

.course_info .course_preview {
  width: 100%;
  /* border: 2px solid red; */
  max-width: 850px;
}

.course_desc {
  width: 100%;
  margin-bottom: 40px;
}

.course_desc .desc_hd {
  width: 100%;
  margin-bottom: 10px;
}

.desc_hd h1 {
  font-size: 22px;
  color: var(--h1-h3-txt-color);
}

.course_desc .desc_para {
  width: 100%;
  margin-bottom: 25px;
}

.desc_para p {
  text-align: left;
  line-height: 24px;
  color: var(--heading-color);
  font-size: 16px;
}

.course_reach {
  width: 100%;
}

.course_reach h2 {
  font-size: 18px;
  color: var(--h1-h3-txt-color);
  margin-bottom: 5px;
}

.course_reach ul {
  padding: 5px 30px;
}

.course_reach ul li {
  font-size: 16px;
  padding: 2px 0;
  list-style-type: disc;
}

/* Project Preview */
.preview_hd {
  width: 100%;
  margin-bottom: 15px;
}

.preview_hd h3 {
  font-size: 18px;
  color: var(--h1-h3-txt-color);
}

.preview_outline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  grid-row-gap: 20px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 30px 30px;
  border-radius: 4px;
}

.preview_outline p {
  font-size: 15px;
  text-align: left;
  max-width: 400px;
}

.preview_outline p i {
  margin-right: 8px;
}

.course_outline {
  margin-bottom: 20px;
}

.course_outline .course_hd {
  margin-bottom: 20px;
}

.course_hd h2 {
  font-size: 18px;
  color: var(--h1-h3-txt-color);
}

.course_outline details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 5px 10px;
  /* background-color: rgba(241, 241, 241, 0.027); */
  /* background-color: red; */
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(228, 228, 228, 0.555);
  /* padding-bottom: 20px; */
}

.course_outline details:hover {
  /* background-color: rgb(255, 255, 255); */
  border-radius: 5px;
  box-shadow: -0px 5px 15px rgba(216, 216, 216, 0.24);
}

.course_outline details:last-child {
  border-bottom: 0;
  /* background-color: red; */
}

details summary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 15px 15px;
}

details summary p {
  font-weight: 550;
  color: var(--heading-color);
}

details summary:hover {
  cursor: pointer;
}

details .preview {
  padding: 10px 0;
  padding: 5px 25px;
  background-color: transparent;
}

.preview .preview-info li {
  font-size: 14px;
  line-height: 28px;
  padding: 5px 0;
}

/* Start Project */
.start_course {
  /* border: 2px solid blue; */
  box-shadow: 0px 5px 10px 5px rgba(192, 192, 192, 0.26);
  border-radius: 5px;
  overflow: hidden;
  width: 50%;
  position: sticky;
  top: 90px;
}

.start_course .start_course_banner {
  width: 100%;
  height: 230px;
  /* max-height: fit-content; */
}

.start_course_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.start_course_price {
  margin: 20px 15px;
  padding: 0 20px;
}

.start_course_price h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: var(--h1-h3-txt-color);
}

.start_course_price button {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  color: #fff;
  background-color: var(--heading-color);
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: transform 0.3s linear;
  justify-content: center;
  display: flex;
  align-items: center;
}

.start_course_price button:hover {
  background-color: #161635;
  transform: scale(1.02);
}

.start_course .course_packages {
  padding: 30px 20px;
  width: 100%;
}

.course_packages h3 {
  margin-bottom: 10px;
  color: var(--h1-h3-txt-color);
}

.course_packages ul {
  padding: 0 25px;
  gap: 15px;
}

.course_packages ul li {
  font-size: 16px;
  list-style-type: decimal;
  padding: 5px 0;
}

/* Footer */
.footer-container {
  width: 100%;
  height: 300px;
  background-color: var(--h1-h3-txt-color);
}
